<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-back-button slot="start" defaultHref="/list-view"></ion-back-button>
    <ion-title>{{title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title>{{title}}</ion-title>
    </ion-toolbar>
  </ion-header>

  @switch (state.nameKey) { @case ('egg-group') {
  @if(ResponseValidator.isEggGroup(detailsResponse)) {
  <app-egg-group [data]="detailsResponse"></app-egg-group>
  } } @case ('ability') { @if (ResponseValidator.isAbility(detailsResponse)) {
  <app-ability [data]="detailsResponse"></app-ability>
  } } @case ('berry') { @if (ResponseValidator.isBerry(detailsResponse)) {
  <app-berry [data]="detailsResponse"></app-berry>
  } } @default {

  <ion-text></ion-text>

  } }
</ion-content>
