<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Browse</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Browse</ion-title>
    </ion-toolbar>
  </ion-header>

  @if (response) {

  <ion-list>
    @for (key of responseKeys; track key) {

    <ion-item button detail lines="full" (click)="onItemClick(key)">
      <ion-text>{{key | titleKabab}}</ion-text>
    </ion-item>

    }
  </ion-list>

  }
</ion-content>
